# Data
data/raw/
data/processed/

# db
qdrant_data/
~/datasets/qdrant_data/

# Generated artefacts
embeddings/
evals/generated_datasets/
lib/
indexes/
logs/
models/
notebooks/
storage/

# local config
configs/config.yaml

# Python
__pycache__/
*.py[cod]
*.pth
*.pt
.venv/
venv/
.env
.claude

# extras
repomix-output.xml

# OS
.DS_Store